<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="{{url_for('strona_glowna')}}">Home</a></li>
                <li><a href="{{url_for('profile')}}">Profile</a></li>
            </ul>
        </nav>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Karol Kolesinski, Kacper Polkowski, Adrian Juchimowicz</p>
    </footer>
</body>
</html>