<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="{{url_for('strona_glowna')}}"><i class="fa-solid fa-house"></i> Home</a></li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li><a href="{{url_for('profile')}}"><i class="fa-solid fa-circle-user"></i> Profile</a></li>
            </ul>
        </nav>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Karol Kolesinski, Kacper Polkowski, Adrian Juchimowicz</p>
    </footer>
</body>
</html>